
    {% include 'top.html' %}
    
    <div id="content">
        <h1 class="page-title">trips List Contents</h1>

        <form method="POST" action="/search">
            <label for="search_date">Search by Date:</label>
            <input type="date" name="search_date" id="search_date" autofocus required>
            <button type="submit">Search</button>
        </form>
    
        {% if session['isadmin'] == True %}
            <div style="float: left;">
                <button class="pure-button" style="float: center;"><a href="{{ url_for('add_trip') }}" class="pure-menu-link">Add Trip</a></button>
            </div>
        {% endif %}
        <br/>
        <table class="pure-table">
            <thead>
                <tr>
                   {% if session['isadmin'] == True %}
                    <th> Delete </th>
                    <th> tripid </th>
                    <th> cardid </th>
                    <th> traveldate </th>
                    <th> entrystationid </th>
                    <th> exitstationid </th>
                    <th> tripstarttime </th>
                    <th> Update </th>
                   {% else %}
                   <th> tripid </th>
                   <th> cardid </th>
                   <th> traveldate </th>
                   <th> entrystationid </th>
                   <th> exitstationid </th>
                   <th> tripstarttime </th>
                   {% endif %}
                </tr>
            </thead>
            <tbody>
            {% for item in trips %}
                <tr>
                    {% if session['isadmin'] == True %}
                    
                        <td> 
                            {% if item['isadmin'] == True %}
                                <button onclick="alert('This would delete trip {{item['tripid']}} by calling url_for(\'delete_trip({{item['tripid']}})\')')">Delete</button>
                            {% else %}
                                <button class="pure-button" ><a href="{{ url_for('delete_trip', tripid=item.tripid) }}" class="pure-menu-link">Delete</a></button>
                            {% endif %}
                        </td>
                        <form name="{{item['tripid']}}_form" class="Update" method="POST" action="{{url_for('update_trip')}}">
                            <input type="hidden" id="tripid" name="tripid" value="{{item['tripid']}}" />
                            <td><b> {{item['tripid']}} </b></td>
                            <td> <input type="number" id="cardid" name="cardid" value="{{item['cardid']}}" placeholder="{{item['cardid']}}">
                            </td>
                            <td> <input type="date" id="traveldate" name="traveldate" value="{{item['traveldate']}}" placeholder="{{item['traveldate']}}">
                            </td>
                            <td> <input type="number" id="entrystationid" name="entrystationid" value="{{item['entrystationid']}}" placeholder="{{item['entrystationid']}}">
                            </td>
                            <td> <input type="number" id="exitstationid" name="exitstationid" value="{{item['exitstationid']}}" placeholder="{{item['exitstationid']}}">
                            </td>
                            <td> <input type="time" id="tripstarttime" name="tripstarttime" value="{{item['tripstarttime']}}" placeholder="{{item['tripstarttime']}}">
                            <td> <button class="pure-button pure-button-primary" type="submit">Update</button>
                            </td>
                        </form>
                    {% else %}
                        <td><b> {{item['tripid']}} </b></td>
                        <td> {{item['cardid']}}</td>
                        <td> {{item['traveldate']}}</td>
                        <td> {{item['entrystationid']}}</td>
                        <td> {{item['exitstationid']}}</td>
                        <td> {{item['tripstarttime']}}</td>
                    {% endif %} 
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </body>
    </html>
    